{# ./templates/category.html.twig #}
    
{% extends 'categorylist.html.twig' %}

 {% block title %} Category {% endblock %}
    
 {% block body %}
     {% embed "header.twig" %}
     {% endembed %}
     <main id="root"></main>
     {% embed "footer.twig" %}
     {% endembed %}
 {% endblock %}